<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWVqZcQcDYC--jazfr2XRogWb1-NZ3_1M</string>
	<key>GCM_SENDER_ID</key>
	<string>759870024660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ambulanceapp</string>
	<key>PROJECT_ID</key>
	<string>fireapp-5fc58</string>
	<key>STORAGE_BUCKET</key>
	<string>fireapp-5fc58.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759870024660:ios:83b6fd17a39059f2ce0441</string>
</dict>
</plist>